<div class="container">
  <div class="card">
    <div class="card-body">
  <div class="login">
    <img src="../../../assets/icons/forgot-password.png" alt="login-icon" width="40%" />
    <h1 class="mt-2">Forgot password?</h1>
    <form [formGroup]="forgotPassword" (ngSubmit)="forgotPass()">
      <mat-form-field class="ample">
        <mat-label class="input-form">Email</mat-label>
        <input matInput autocomplete="off" formControlName="email" />
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')" class=" required-input mb-5">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary" class="ample button mt-4" type="submit">
        Send
      </button>
      <div class="register-forgot">
        <h4 class="register-forgot"><a routerLink="/login" class="register-forgot">Back</a></h4>
      </div>
    </form>
  </div>
</div>
</div>
</div>
