/*.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}*/


.container{
  display:flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  margin-top: auto;
  

}

.register{
  width:100%;
  max-width: 330px;
  text-align: center;
}
.ample {
  width: 80%;
}
.input-form{
  font-size: 18px;
}
.button{
  height:50px;
  background-color:rgb(56, 56, 95);
  margin-top: 10px;
  font-size: 20px;
}
.already-account{
  font-size: 17px;
  margin-top: 20px;
}
