<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="btn btn-primary btn-lg my-2 my-sm-0 me-5" [routerLink]="['/login']" routerLinkActive="router-link-active"
      type="submit">Login</a>

  </div>
</nav>

<div class="container">
  <div class="card">
    <div class="card-body">


      <div class="introduction text-center">
        
        <h5 style="color:white;">Consult our database</h5>
        <div class="buttons">

          <button class="btn btn-success btn-lg mt-4 mb-4" [routerLink]="['/register']"
            routerLinkActive="router-link-active">Register</button>
        </div>

      </div>
    </div>
  </div>
  </div>